# Hugging Face token file
python scripts llama/token_huggingface.txt

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.env/
.venv/

# IDE
.vscode/
.idea/